$main-color: #F34A53;
$pale-yellow: #FAE3B4;
$light-green: #AAC789;
$green: #437356;
$blue: #1E4147;
$gray: #333333;
$pink: #F34A53;

$playfair-stack: "Playfair Display", Helvetica, Georgia, serif;
$lato-stack: Lato, Tahoma, sans-serif;
$open-sans-stack: "Open Sans", Tahoma, sans-serif;