$main-color: #F34A53;
$pale-yellow: #FAE3B4;
$light-green: #AAC789;
$green: #437356;
$blue: #1E4147;
$gray: #333333;

$playfair-stack: "Playfair Display", Helvetica, Georgia, serif;
$lato-stack: Lato, Tahoma, sans-serif;
$merriweather-stack: Merriweather, Georgia, serif;