/* Style sheet compiled using Sass */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background: black url(../img/binary.png);
  font-family: Lato, Tahoma, sans-serif;
  color: white; }

.core {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }
  .core.nav-visible {
    padding-top: 11.25em; }

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #aac789; }
  a:hover {
    border-bottom: none; }

h1 {
  font: 1.5em Lato, Tahoma, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 1em 0; }
  h1.sponsored {
    padding: 10px;
    margin: 0;
    font-size: 1em;
    text-align: center;
    margin-bottom: 1em; }

h2 {
  font: 1.25em Lato, Tahoma, sans-serif;
  font-weight: 700;
  letter-spacing: 1px; }

p {
  font: 0.9em "Open Sans", Tahoma, sans-serif;
  font-weight: 400;
  margin: 1em 0; }
  p b {
    font-weight: 700;
    letter-spacing: 1px; }

ul {
  padding-left: 2em; }

li {
  padding: 5px; }

@font-face {
  font-family: 'icomoon';
  src: url("../icons/icomoon.eot");
  src: url("../icons/icomoon.eot?#iefix") format("embedded-opentype"), url("../icons/icomoon.woff") format("woff"), url("../icons/icomoon.ttf") format("truetype"), url("../icons/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon {
  color: white;
  font-family: 'icomoon';
  font-size: .8em;
  -webkit-font-smoothing: antialiased; }

.icon-nav:before {
  content: "\e604";
  font-size: 3em; }

.icon-news, .icon-calendar {
  display: inline-block; }

.icon-news:before {
  content: "\e601"; }

.icon-calendar:before {
  content: "\e602"; }

.triangles {
  height: 6em;
  background: #f34a53 url(../img/triangles_larger.png) repeat right top;
  background-size: 200px 181px; }

header {
  background: #437356;
  border-top: 3px #f34a53 solid;
  border-bottom: 3px #f34a53 solid;
  height: 5em; }
  header a {
    border-bottom: none; }
  header .logo-frame {
    float: left; }
  header .logo {
    margin-left: 1em;
    padding: .5em;
    height: 3.8em; }
  header .WIC {
    float: left;
    color: white;
    font: 2.4em "Playfair Display", Helvetica, Georgia, serif;
    font-weight: 700;
    padding: 0 .25em; }
    header .WIC .tag {
      color: #333333;
      font-family: Lato;
      font-weight: bold; }
    @media screen and (max-width: 600px) {
      header .WIC .mobile-hide {
        display: none; } }
    header .WIC .highlight {
      -webkit-transition: color 0.15s ease-in;
      -moz-webkit-transition: color 0.15s ease-in;
      -o-webkit-transition: color 0.15s ease-in;
      transition: color 0.15s ease-in; }
    header .WIC:hover .highlight {
      color: #aac789; }
    header .WIC .at {
      font: 0.4em "Open Sans", Tahoma, sans-serif;
      font-weight: 400;
      text-align: center;
      margin-top: -.1em;
      padding-right: 2.5em;
      color: #aac789; }
      @media screen and (max-width: 600px) {
        header .WIC .at {
          padding-right: 1em; }
          header .WIC .at .mobile-hide {
            display: none; } }
  header nav .mobile-nav {
    float: right;
    display: none;
    padding: 1.05em 1em 0 0; }
  header nav ul.desktop {
    float: right;
    margin-top: 1.5em; }
    header nav ul.desktop li {
      display: inline-block;
      background: #aac789;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin: 0 1em 0 0;
      padding: .3em .7em .4em .7em;
      color: #1e4147;
      -webkit-transition: background 0.15s ease-in;
      -moz-webkit-transition: background 0.15s ease-in;
      -o-webkit-transition: background 0.15s ease-in;
      transition: background 0.15s ease-in; }
      header nav ul.desktop li:hover {
        background: #91b766; }
      header nav ul.desktop li a {
        display: inline-block;
        width: 100%; }
  header nav ul.mobile {
    padding: 0;
    margin: -2px 0 0 0;
    float: left;
    width: 100%;
    background: #333333;
    display: block;
    border-bottom: 3px #f34a53 solid; }
    header nav ul.mobile li {
      width: 100%;
      list-style: none;
      text-align: center;
      padding: .75em 0;
      border-bottom: 1px #1a1a1a solid;
      -webkit-transition: background 0.15s ease-in;
      -moz-webkit-transition: background 0.15s ease-in;
      -o-webkit-transition: background 0.15s ease-in;
      transition: background 0.15s ease-in; }
      header nav ul.mobile li a {
        display: inline-block;
        width: 100%; }
      header nav ul.mobile li:hover {
        background: #1a1a1a; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -10em;
  /* the bottom margin is the negative value of the footer's height */ }
  @media screen and (max-width: 1024px) {
    .wrapper {
      margin: 0 auto -15em; } }
  @media screen and (max-width: 600px) {
    .wrapper {
      margin: 0 auto -24em; } }

footer {
  padding: 10px;
  background: #333333; }
  @media screen and (max-width: 1024px) {
    footer .desktop {
      display: none; } }
  footer .tablet {
    display: none; }
    @media screen and (max-width: 1024px) {
      footer .tablet {
        display: block; } }
    @media screen and (max-width: 600px) {
      footer .tablet {
        display: none; } }
  footer .mobile {
    display: none; }
    @media screen and (max-width: 600px) {
      footer .mobile {
        display: block; } }
  footer tbody {
    width: 100%; }
  footer table {
    text-align: center;
    width: 100%; }
    footer table .desktop-hide {
      display: none; }
    footer table td {
      width: 25%; }
    footer table img {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-transition: filter 0.15s ease-in;
      -moz-webkit-transition: filter 0.15s ease-in;
      -o-webkit-transition: filter 0.15s ease-in;
      transition: filter 0.15s ease-in;
      -webkit-transition: -webkit-filter 0.15s ease-in;
      -moz-webkit-transition: -webkit-filter 0.15s ease-in;
      -o-webkit-transition: -webkit-filter 0.15s ease-in;
      transition: -webkit-filter 0.15s ease-in;
      -webkit-transition: -moz-filter 0.15s ease-in;
      -moz-webkit-transition: -moz-filter 0.15s ease-in;
      -o-webkit-transition: -moz-filter 0.15s ease-in;
      transition: -moz-filter 0.15s ease-in; }
      footer table img:hover {
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        filter: grayscale(0%); }

footer, .push {
  height: 10em;
  /* .push must be the same height as .footer */ }
  @media screen and (max-width: 1024px) {
    footer, .push {
      height: 15em; } }
  @media screen and (max-width: 600px) {
    footer, .push {
      height: 24em; } }
  footer a, .push a {
    border-bottom: none; }

.event {
  background: #437356;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  min-height: 5em;
  position: relative;
  color: white;
  margin: 2em 0 1em 0; }
  .event h1 {
    margin: 0; }
  .event p {
    margin: .5em 0 1em 0; }
  .event .well {
    background: #333333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    color: #fae3b4;
    text-align: center; }
    .event .well i {
      color: white;
      display: inline-block;
      margin: 0 .5em; }

.update {
  color: white;
  margin: 1.5em 0 2.5em 0; }
  .update h2 {
    color: white;
    background: #437356;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 5px 5px 5px 10px;
    font-weight: 400; }
  .update h3 {
    color: white;
    background: #333333;
    font-size: .8em;
    padding: 5px 5px 5px 10px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    font-weight: normal; }
  .update p {
    padding: 0 10px; }

ul.year-selection {
  list-style: none;
  padding-left: 0; }
  ul.year-selection li {
    display: inline-block; }
    ul.year-selection li a {
      display: block;
      text-align: center;
      border: none;
      background: #aac789;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin: 0 1em 0 0;
      padding: .3em .7em .4em .7em;
      color: #1e4147;
      -webkit-transition: color 0.15s ease-in;
      -moz-webkit-transition: color 0.15s ease-in;
      -o-webkit-transition: color 0.15s ease-in;
      transition: color 0.15s ease-in;
      -webkit-transition: background 0.15s ease-in;
      -moz-webkit-transition: background 0.15s ease-in;
      -o-webkit-transition: background 0.15s ease-in;
      transition: background 0.15s ease-in; }
      ul.year-selection li a:hover {
        background: #437356;
        color: #aac789; }
      ul.year-selection li a.highlighted {
        background: #1e4147;
        color: #aac789; }

.member {
  margin: 1em 0;
  height: 7em;
  position: relative; }
  .member .photo {
    display: inline-block;
    width: 7em;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #437356;
    background-size: 150px 135px; }
    .member .photo img {
      width: 6em;
      height: 6em;
      margin: .5em; }
  .member .info {
    position: absolute;
    top: 0;
    padding-left: 2em;
    height: 100%;
    display: inline-block; }
