.update {
	color: white;

	margin: 1.5em 0 2.5em 0;

	h2 {
		color: white;
		background: $green;
		border-radius: 5px 5px 0 0;
		padding: 5px 5px 5px 10px;
		font-weight: 400;
	}

	h3 {
		color: white;
		background: $gray;
		font-size: .8em;
		padding: 5px 5px 5px 10px;
		border-radius: 0 0 5px 5px;
		font-weight: normal;
	}

	p {
		padding: 0 10px;
	}
}

ul.year-selection {
	list-style: none;
	padding-left: 0;

	li {
		display: inline-block;

		a {
			display: block;
			text-align: center;
			border: none;
			background: $light-green;
				
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;

			margin: 0 1em 0 0;
			padding: .3em .7em .4em .7em;

			color: $blue;

			@include transition(color);
			@include transition(background);
			

			&:hover {
				background: $green;
				color: $light-green;
			}

			&.highlighted {
				background: $blue;
				color: $light-green;
			}
		}
	}
}